:root {
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit;
  border: none;
  margin: 0;
  padding: 0; }

body {
  min-width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: scroll; }

@-ms-viewport {
  width: device-width; }

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

button,
.button {
  -webkit-appearance: none;
  border: 0.1rem solid #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.6rem;
  outline: 0;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:focus,
  .button:focus {
    background: #030303; }
  button:hover,
  .button:hover {
    background: #000;
    border-color: black;
    color: #fff; }
  button:active, button.active,
  .button:active,
  .button.active {
    background: black;
    border-color: black;
    color: #fff; }
  button.primary,
  .button.primary {
    background: #1c7293; }

.hero {
  width: 100%;
  min-height: 40vmax;
  max-height: 500px;
  padding: 1.5em 1em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (min-width: 37.5em) and (max-width: 61.25em) {
    .hero {
      font-size: 3rem; } }
  @media screen and (min-width: 61.3125em) {
    .hero {
      min-height: 35vmax;
      font-size: 4rem; } }

.hero_title {
  font-size: inherit; }

.call-to-action {
  width: 100%;
  min-height: 30vmin;
  padding: 1.5em 1em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 37.5em) {
    .call-to-action {
      font-size: 1.5rem; } }

.call-to-action_title {
  font-size: 1.5rem; }
  @media screen and (min-width: 37.5em) and (max-width: 61.25em) {
    .call-to-action_title {
      font-size: 1.85rem; } }
  @media screen and (min-width: 61.3125em) {
    .call-to-action_title {
      font-size: 2.5rem; } }

.fifty-fifty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 61.3125em) {
    .fifty-fifty {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: initial;
              flex-direction: initial; } }
  .fifty-fifty > div {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
    @media screen and (min-width: 61.3125em) {
      .fifty-fifty > div {
        width: 50%; } }

.media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media screen and (min-width: 37.5em) {
    .media-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: initial;
              flex-direction: initial; } }

.media-item_image {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%; }
  @media screen and (min-width: 37.5em) {
    .media-item_image {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      margin-right: 1em; } }

.media-item_content {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media screen and (min-width: 37.5em) {
    .media-item_content {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

.card {
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid black;
  max-width: 300px; }

.card_image {
  position: relative; }
  .card_image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
  .card_image .card_title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; }

.card_content {
  padding: 20px; }
  .card_content p {
    margin: 0; }

.card_title {
  font-size: 1.5rem;
  line-height: 2em; }

.card_actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px; }
  .card_actions a {
    font-size: 0.875em;
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-bottom: 20px; }

.content blockquote:not(:last-child),
.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em; }

.round {
  border-radius: 0.3em; }

.block {
  display: block;
  width: 100%; }

.empty {
  margin: 20px 0;
  height: 1px; }

img.responsive,
video.responsive,
iframe.responsive,
embed.responsive,
object.responsive {
  max-width: 100%;
  height: auto; }

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .embed.embed-4-by-3 {
    padding-bottom: 75%; }
  .embed iframe,
  .embed object,
  .embed embed,
  .embed video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.section {
  padding: 40px 0; }
  .section + .section {
    padding-top: 0; }

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px; }
