%button {
  -webkit-appearance: none;
  border: 0.1rem solid $color_black;
  color: $color_black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.6rem;
  outline: 0;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    background: lighten($color_black, 1%);
  }

  &:hover {
    background: $color_black;
    border-color: darken($color_black, 5%);
    color: $color_white;
  }

  &:active,
  &.active {
    background: darken($color_black, 5%);
    border-color: darken($color_black, 10%);
    color: $color_white;
  }
}

button,
.button {
  @extend %button;

  &.primary {
      background: $color_primary;
  }
}
