// 50/50 Split
// -----------------------------------------------------------------------------
.fifty-fifty {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 61.3125em) { // 981px
    flex-direction: initial;
  }

  > div {
    width: 100%;
    flex: none;

    @media screen and (min-width: 61.3125em) { // 981px
      width: 50%;
    }
  }
}
