// Hero
// -----------------------------------------------------------------------------
.hero {
  width: 100%;
  min-height: 40vmax;
  max-height: 500px;
  padding: 1.5em 1em;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 37.5em) and (max-width: 61.25em) { // 600px - 980px
    font-size: 3rem;
  }

  @media screen and (min-width: 61.3125em) { // 981px
    min-height: 35vmax;
    font-size: 4rem;
  }

  background: black;
  color: white;
}

.hero_title {
  font-size: inherit;
}
