// Media Item
// -----------------------------------------------------------------------------
.media-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 37.5em) { // 600px
    flex-direction: initial;
  }
}

// Media Item image
.media-item_image {
  flex: 100%;

  @media screen and (min-width: 37.5em) { // 600px
    flex: none;
    margin-right: 1em;
  }
}

// Media Item content
.media-item_content {
  flex: 100%;
  order: 1;

  @media screen and (min-width: 37.5em) { // 600px
    flex: 1;
  }
}
