/* -----------------------------------------------------------------------------
  # Modifiers
----------------------------------------------------------------------------- */
.mt100,
[data-mod="mt100"] {
  margin-top: 100px;
}

.test {
  width: 200px;
  height: 100px;
  background-color: green;
  color: white;
}
