/* -----------------------------------------------------------------------------
  # Grid - Not to be confused with a grid system, but an actual grid
----------------------------------------------------------------------------- */
// Set up the container for the grid
// Set an optional height so that the children are the same height when they wrap
@mixin gridded($height: null) {
  display: flex;
  flex-wrap: wrap;

  @if $height {
    height: $height;
  }
}

// Set up the count for the grid
// Set the count to tell the grid how many blocks the grid will be
@mixin gridded-count($count: 1) {
  width: calc(100% / #{$count});
  height: 100%;
}

// Demo
.grid {
  @include gridded(150px);

  > div {
    @include gridded-count;

    @media screen and (min-width: 600px) {
      @include gridded-count(3);
    }

    @media screen and (min-width: 992px) {
      @include gridded-count(5);
    }
  }
}
